.container-fluid {
  background-color: #337ab7;  
  color: #FFFFFF;
}
.navbar-header{
  color: #FFFFFF;
}
.readoOnlyClass
{
    background-color: red;
}
#main {
  margin: 0;
  padding: 0;
  max-width: 1250px;
  min-width: 1024px;
  margin: auto;
  font-family: Arial,Times New Roman,Times,serif,sans-serif ;
  border: 1px solid #1e3174;
  -webkit-box-shadow: 2px 3px 23px -4px rgba(0,0,0,0.54);
  -moz-box-shadow: 2px 3px 23px -4px rgba(0,0,0,0.54);
  box-shadow: 2px 3px 23px -4px rgba(0,0,0,0.54);
  }
.main-form{
  padding: 0 25px 25px 25px;
}
.label-color{
  background-color: #0d5881;
  color: white;
}
.topmargin10{
  margin: 10px 0;
  width: 100%;
}
.page-header { border-bottom:none; }

.borderless td {
    border: none !important;
}

textArea {
  overflow:auto;
  resize: none;
  width: auto;
  height: auto;
 
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.sectionLine{
    height: 2px;
    border: 1px;
    background-color: #f5f0f0;
    border-radius: 5px;

}
/* Form Input style */
.form-control {
    font-size:16px;
    box-shadow: 1px 1px 5px #a7a7a7 inset;
    min-height: 42px;
}
.rowNoColor {
  padding: 20px 20px;
  margin:0;
}
.rowTitle{
  margin-top: 10px;
  padding: 5px 20px;
}
.rowLightBlue{
  background-color: #f8fbfc;
}
.rowLightGrey{
}
.spacer {
    margin: 40px; /* define margin as you see fit */
}
.textBoxFocused{
  border: 2px solid #ff9999;
}
.big_checkbox {
  
}
/* Removing Questions Button*/
.removeQuestion,.removeLastQuestion,.removeCandidate,.removePanelRow, .removeCandidateRow {
  display:none;
}
.lg {
    background-color: rgba(255, 254, 255, 0.6);
    background: rgba(255, 254, 255, 0.6);
    background: white\9;
    color: #1e3174;
    margin: 50px;
    margin-left: 30px\9;
    padding: 20px;
    padding: 10px\9;
    min-width: 400px;
    max-width: 600px;
    border-radius: 20px 20px 20px 20px;
    border:1px solid #DCDCDC;
    margin-right: auto;  
    margin-left: auto;
    -webkit-box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);
  }
.red-border{
  border: 1px solid red;
}

  .ui-slider-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  .general7 {
    box-shadow: -1px 6px 10px #DCDCDC; 
    -webkit-box-shadow: -1px 6px 10px #DCDCDC; 
    -moz-box-shadow: -1px 6px 10px #DCDCDC; 
    width: 90%;
    margin: 0 0 0 10px;
    } 

@media print{
  .printNo{
    display:none;
  }
  .printResults{
    width: auto;
    height:auo;
  }
  #main {
    max-width: 1200px;
    min-width: 1024px;
    margin: 10px 0 aut;
    padding 10px;
    border: 1px solid #1e3174;
  }
}



/* notification message */
#notification {
    position:fixed;
    bottom:0px;
    width:auto;
  height:auto;
    z-index:105;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    background-color: rgba(248, 248, 248, 0.95);
    padding:10px;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 12px -10px rgba(0,0,0,0.75);
  text-align:center;
}
#results {
    position:fixed;
    bottom:50%;
    left:50%;
    transform: translateX(-50%);
    width:auto;
  height:auto;
    z-index:104;
    padding:10px;
  margin: 0 auto;
  text-align:center;;
    
}
.notificationBox {
    bottom:50%;
    left:50%;
    width:auto;
  height:auto;
    z-index:104;
    padding:10px;
  margin: 0 auto;
  text-align:center;;
    
}
#loading {
    position:fixed;
    bottom:20%;
    left:50%;
    transform: translateX(-50%);
    width:auto;
  height:auto;
    z-index:104;
    padding:10px;
  margin: 0 auto;
  text-align:center;
    
}

/* Fixed footer menu */
.fixedFooter {
    position:fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    width:auto;
  height:auto;
    z-index:104;
    padding:10px;
  margin: 0 auto;
  text-align:center;
  background-color: rgba(248, 248, 248, 0.95);
    
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: white;
    text-align: center;
}